<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('../part/header.ejs') %>
    <title><%= title %></title>
  </head>
  <body>
    <%- include("../part/navbar.ejs") %>
  </body>
</html>
