<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('../part/header.ejs') %>
    <title><%= title %></title>
  </head>
  <body>
    <%- include("../part/navbar.ejs") %>

    
    <main role="main" class="container">
      <div class="container">
        <form class="form-signin" id="sm-form" method="post" action="/user/register_check">
          <h2 class="form-signin-heading">Register form</h2>  

          <hr>
          
          <h3>What your name</h3>
          <input type="text" name="name" class="form-control" placeholder="name">
          
          <h3>Input your email</h3>
          <input type="email" name="email" class="form-control" placeholder="email">

          <h3>Input your id</h3>
          <input type="text" name="id" class="form-control" placeholder="id">

          <h3>Input your password</h3>
          <input type="password" name="password" class="form-control" placeholder="Password">

          <h3>Check your password</h3>
          <input type="password" name="confirm_password" class="form-control" placeholder="Password">

          <br><br>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        </form>
      </div>
    </main>

  </body>
</html>
